.avatarUploader-3XDtmn [style*="/assets/6debd47ed13483642cf09e832ed0bc1b.png"] {
    background-image: url("https://discord-theme-addons.github.io/better-default-pfps/profile-pictures/weave/default-blue.png") !important;
}

.avatar-VxgULZ[src="/assets/6debd47ed13483642cf09e832ed0bc1b.png"] {
    content: url("https://discord-theme-addons.github.io/better-default-pfps/profile-pictures/weave/default-blue.png");
}

.avatarUploader-3XDtmn [style*="/assets/1cbd08c76f8af6dddce02c5138971129.png"] {
    background-image: url("https://discord-theme-addons.github.io/better-default-pfps/profile-pictures/weave/default-red.png") !important;
}

.avatar-VxgULZ[src="/assets/1cbd08c76f8af6dddce02c5138971129.png"] {
    content: url("https://discord-theme-addons.github.io/better-default-pfps/profile-pictures/weave/default-red.png");
}

.avatarUploader-3XDtmn [style*="/assets/0e291f67c9274a1abdddeb3fd919cbaa.png"] {
    background-image: url("https://discord-theme-addons.github.io/better-default-pfps/profile-pictures/weave/default-orange.png") !important;
}

.avatar-VxgULZ[src="/assets/0e291f67c9274a1abdddeb3fd919cbaa.png"] {
    content: url("https://discord-theme-addons.github.io/better-default-pfps/profile-pictures/weave/default-orange.png");
}

.avatarUploader-3XDtmn [style*="/assets/dd4dbc0016779df1378e7812eabaa04d.png"] {
    background-image: url("https://discord-theme-addons.github.io/better-default-pfps/profile-pictures/weave/default-green.png") !important;
}

.avatar-VxgULZ[src="/assets/dd4dbc0016779df1378e7812eabaa04d.png"] {
    content: url("https://discord-theme-addons.github.io/better-default-pfps/profile-pictures/weave/default-green.png");
}

.avatarUploader-3XDtmn [style*="/assets/322c936a8c8be1b803cd94861bdfa868.png"] {
    background-image: url("https://discord-theme-addons.github.io/better-default-pfps/profile-pictures/weave/default-gray.png") !important;
}

.avatar-VxgULZ[src="/assets/322c936a8c8be1b803cd94861bdfa868.png"] {
    content: url("https://discord-theme-addons.github.io/better-default-pfps/profile-pictures/weave/default-gray.png");
}